<div class="container__big-card">

<div class="big-card__photo">
  <img
   src="https://www.elitebrains.com/uploads/angular_article.png?_t=1574347140"
   alt="Foto Notícia Destaque"
   height="400px"

   srcset=""
  >
  </div>

 <div class="big-card__title">
  <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

 <div class="big-card__description">
  <p>
    <a href="#">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ipsum eaque voluptatibus at qui, esse molestiae exercitationem
    similique assumenda reprehenderit hic fuga tempora, porro soluta
    perferendis. Incidunt hic suscipit reprehenderit error?</a></p>
 </div>
</div>

