<header><app-menu-bar> </app-menu-bar></header>


<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-criar-e-executar-um-projeto-angular_38246.png"
      cardTitle="Angular tem versão atualizada"
      cardDescription="Lançada a mais nova versão do Angular, com muitas novidades, recursos e facilidades para os desenvolvedores">
    </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</div>
